body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #E5E5E5 !important;
}
.todoapp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.movies {
    width: 1010px;
    margin: auto;
    padding: 19px 0px 19px 30px;
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}
.movieContainer {
    width: 454px;
    height: 300px;
    display: flex;
    margin-bottom: 35px;
    margin-right: 35px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
.imageContainer {
    width: 281px;
    height: 183px;
    margin-right: 20px;
}
.description {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    padding-right: 20px;
}
.movieName {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
}
.movieDate {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #827E7E;
    margin-bottom: 10px;
}
.movieStyles {
    padding: 2px 4px;
    height: 20px;
    background-color: #FAFAFA;
    border: 1px solid #D9D9D9;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
    margin-bottom: 10px;
}
.appFooter {
    margin: auto;
    background-color: #FFFFFF;
}
.ant-pagination-item-active {
    background-color: #1890FF !important;
}
.ant-pagination-item-active a {
    color: #FFFFFF !important;
}