body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #E5E5E5 !important;
}
.ant-spin {
    margin: 20px !important;
}
.noSearch {
    margin: auto;
    color: rgba(0, 0, 0, 0.65);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px; 
}
.todoapp {
    width: 1010px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    background-color: #FFFFFF;
}
.appHeader {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.findMovie {
    height: 40px;
    width: 943px;
    font-size: 16px;
    padding: 9px 12px;
    outline: none;
    border-color: rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.findMovie::placeholder {
    color: rgba(0, 0, 0, 0.25);
}
.buttons {
    width: 120px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 13px;
    height: 54px;
}
.buttons button {
    padding: 0px 6px;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: rgba(0, 0, 0, 0.65);
    outline: none;
}
.buttons button:hover {
    border-bottom: 2px solid #1890FF;
    color: #1890FF;
}

.movies {
    padding: 19px 0px 19px 30px;
    display: flex;
    flex-wrap: wrap;
}
.movieContainer {
    width: 454px;
    height: 300px;
    display: flex;
    margin-bottom: 35px;
    margin-right: 35px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}
.imageContainer {
    width: 200px;
    height: 300px;
    margin-right: 20px;
    background-image: url("../src/images/p110213185807873.png");
}
.imageContainer img {
    width: 200px;
    height: 300px;
}
.description {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 12px;
    padding-right: 9px;
}
.description__block {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.movieName {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 10px;
    max-width: 170px;
}
.movieRating {
    border: 2px solid #E90000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E90000;
    font-weight: bold;
}
.colorOrange {
    border-color: #E97E00;
    color: #E97E00;
}
.colorYellow {
    border-color: #E9D100;
    color: #E9D100;
}
.colorGreen {
    border-color: #66E900;
    color: #66E900;
}
.movieDate {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #827E7E;
    margin-bottom: 10px;
}
.movieStyles {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    flex-wrap: wrap;
}
.movieStyles p {
    background-color: #FAFAFA;
    border: 1px solid #D9D9D9;
    height: 20px;
    padding: 2px 5px;
    margin-right: 8px;
    margin-bottom: 5px;
}
.movieOverview {
    padding-right: 11px;
}
.Rate {
    width: 100%;
}
.appFooter {
    margin: auto;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}
.ant-rate-star:not(:last-child) {
    margin-right: 2px !important;
}

.ant-pagination-item-active {
    background-color: #1890FF !important;
}
.ant-pagination-item-active a {
    color: #FFFFFF !important;
}
.Rate {
    margin-top: auto !important;
    margin-bottom: 10px !important;
}
.ant-select {
    display: none !important;
}
.invisible {
    display: none;
}
.active {
    border-bottom: 2px solid #1890FF !important;
    color: #1890FF !important;
}
@media (max-width: 1010px) {
    .appHeader {
        width: 100%;
    }
    .todoapp {
        padding: 17px;
        width: 100%;
    }
    .appHeader form {
        width: 100%;
        margin-bottom: 10px;
    }
    .findMovie {
        width: 100%;
    }
    .movies {
        padding: 0;
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .movieContainer{
        margin: 0;
        width: 100%;
        margin-bottom: 20px;
  }
  .imageContainer {
    width: 100px;
    height: 150px;
    margin-right: 20px;
    background-image: url("../src/images/p110213185807873.png");
}
.imageContainer img {
    width: 100px;
    height: 150px;
}
}

.alert {
    width: 60%;
    margin: 20px !important;
    align-self: center;
}